*/*.o
*/*/*.o
test/*/test
codeblock/GefMoteur/obj
codeblock/GefMoteur/*.a
codeblock/GefMoteur/*.layout
codeblock/testsfml/bin
codeblock/testsfml/obj
codeblock/testsfml/*.layout
test/testsfml/log*.txt
SFML/
lib/
